@media screen and (max-width:767px){
  .exercise-name{
    padding: 1.3rem
  }
  .exercise-img{
    width: 200px;
    margin: auto;
  }
  .modal-header{
    flex-wrap: wrap;
  }
  .modal-icons{
    width: 100%;
    justify-content: flex-end;
  }
  .form{
    padding-bottom: 1rem;
    margin: 1rem;
  }
  .form-group{
    margin: 2rem;
  }
  .button-outline.form-submit{
    width: 50%;
  }
  .type-button.submit{
    width: 104%;
  }

}

@media screen and (max-width:991px){
  .fas.fa-hand-point-left{
    margin-right: 2rem;
  }
}
