@media screen and (max-width:767px){
  .exercise-name{
    padding: 1.3rem
  }
  .exercise-img{
    width: 200px;
    margin: auto;
  }
  .modal-header{
    flex-wrap: wrap;
  }
  .modal-icons{
    width: 100%;
    justify-content: flex-end;
  }
  .form{
    padding-bottom: 1rem;
    margin: 1rem;
  }
  .form-group{
    margin: 2rem;
  }
  .button-outline.form-submit{
    width: 50%;
  }
  .type-button.submit{
    width: 104%;
  }
  .favs-add-header{
    text-align: center;
  }
  .icons-div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .fas.fa-pen{
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .fas.fa-trash{
    margin-top: 1rem;
  }
  .routines-exercise-row{
    margin: 0;
  }
  .routine-exercises-column{
    width: initial;
    margin: 0 1rem !important;
  }
  .header-packed{
    margin: 2rem 1rem;
  }
  .quote{
    padding: 3rem 2rem;
  }
}

@media screen and (max-width:991px){
  .fas.fa-hand-point-left{
    margin-right: 2rem;
  }
}
