*{
  font-family: Product Sans, sans-serif;
}
.nav-button{
  outline: none !important;
}
.nav-links{
  transition: all 0.5s ease-out;
}
.nav-links:hover{
  transform: translate(20px,0)
}
.container{
  margin-top: 8rem;
}
.row{
  justify-content: center;
  margin: 1.5rem 0;
  transition: all 0.3s ease-out;
}
.button-outline{
  border: solid black 3px;
  border-radius: 13px;
  width: 249px;
  height: 56px;
}
.type-button{
  background-color: white;
  width: 249px;
  height: 56px;
  border: solid black 3px;
  font-size: 22px;
  text-align: left;
  padding: 0 24px;
  border-radius: 13px;
  transform: translate(-10px,-10px);
  transition: all 0.3s ease-out;
  outline: none !important;
}
.type-button:hover{
  transform: translate(-3px, -3px);
  background-color: #FFF9C5;
}

.spinnerDiv{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.exercises-container{
  margin-top: 56px;
}
.exercises-header{
  text-transform: uppercase;
  margin: 2rem;
}
.row.row-exercise{
  border: solid black 1px;
  border-radius: 16px;
  margin: auto;
  margin-bottom: 2.5rem;
  transition: all 0.3s ease-out;
}
.exercise-name{
  border: solid black 3px;
  border-radius: 13px;
  width: 100%;
  transition: all 0.3s ease-out;
  margin: 0;
  text-align: center;
  padding: 2rem;
  background-color: white;
  outline: none !important;
}
.exercise-name:hover{
  transform: translate(0, -10px);
  background-color: #FFF9C5;
}
.row.row-exercise:hover{
  background-color: black;
}
